[Unit]
Description=WSO2 API Manager - Publisher profile
After=network.target

[Service]
ExecStart={{ carbon_home }}/bin/wso2server.sh -Dprofile=api-publisher start
ExecStop={{ carbon_home }}/bin/wso2server.sh stop
ExecReload={{ carbon_home }}/bin/wso2server.sh restart
PIDFile={{ carbon_home }}/wso2carbon.pid
User={{ wso2_user }}
Group={{ wso2_group }}
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
