[server]
hostname = "{{ hostname }}"
node_ip = "127.0.0.1"
base_path = "https://$ref{server.hostname}:${carbon.management.port}"
serverDetails = "WSO2 IS as KM 5.10.0"
mode = "single"
userAgent = "WSO2 IS as KM 5.10.0"

[super_admin]
username = "{{ admin_username }}"
password = "{{ admin_password }}"
create_admin_account = true

[user_store]
type = "database_unique_id"

[database.apim_db]
type = "{{ wso2am_db_type }}"
url = "{{ wso2am_db_url }}"
username = "{{ wso2am_db_username }}"
password = "{{ wso2am_db_password }}"

[database.shared_db]	
type = "{{ wso2shared_db_type }}"	
url = "{{ wso2shared_db_url }}"	
username = "{{ wso2shared_db_username }}"	
password = "{{ wso2shared_db_password }}"

[keystore.primary]
name = "{{ key_store_location }}"		
password = "{{ key_store_password }}"	
alias = "{{ key_store_key_alias }}"	
key_password = "{{ key_store_key_password }}"	

[[event_listener]]
id = "mutual_tls_authenticator"
type = "org.wso2.carbon.identity.core.handler.AbstractIdentityHandler"
name = "org.wso2.carbon.identity.oauth2.token.handler.clientauth.mutualtls.MutualTLSClientAuthenticator"
order = "158"
enable = false

[[apim.throttling.url_group]]
traffic_manager_urls = ["{{ traffic_manager_url }}"]
traffic_manager_auth_urls = ["{{ traffic_manager_auth_url }}"]
type = "loadbalance"
