[Unit]
Description=WSO2 API Manager Analytics - Worker
After=network.target

[Service]
ExecStart={{ setup_path }}/{{ product_name }}/{{ product_version }}/wso2/worker/bin/carbon.sh start
ExecStop={{ setup_path }}/{{ product_name }}/{{ product_version }}/wso2/worker/bin/carbon.sh stop
ExecRestart={{ setup_path }}/{{ product_name }}/{{ product_version }}/wso2/worker/bin/carbon.sh restart
PIDFile={{ setup_path }}/{{ product_name }}/{{ product_version }}/wso2/worker/runtime.pid
User={{ wso2_user }}
Group={{ wso2_group }}
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
