[server]
hostname = "{{ hostname }}"
node_ip = "127.0.0.1"
offset="{{ ports_offset }}"
server_role = "api-devportal"

[super_admin]
username = "{{ admin_username }}"
password = "{{ admin_password }}"
create_admin_account = true

[user_store]
type = "database_unique_id"

[database.apim_db]
type = "{{ wso2am_db_type }}"
url = "{{ wso2am_db_url }}"
username = "{{ wso2am_db_username }}"
password = "{{ wso2am_db_password }}"

[database.shared_db]
type = "{{ wso2shared_db_type }}"
url = "{{ wso2shared_db_url }}"
username = "{{ wso2shared_db_username }}"
password = "{{ wso2shared_db_password }}"

[keystore.tls]
file_name =  "{{ key_store_location }}"
type =  "JKS"
password =  "{{ key_store_password }}"
alias =  "{{ key_store_key_alias }}"
key_password =  "{{ key_store_key_password }}"

[truststore]	
file_name = "{{ trust_store_location }}"	
type = "JKS"	
password = "{{ trust_store_password }}"

{% for environment in gateway_environments %}

[[apim.gateway.environment]]
name = "{{ environment.name }}"
type = "{{ environment.type }}"
display_in_api_console = true
description = "{{ environment.description }}"
show_as_token_endpoint_url = true
service_url = "{{ environment.service_url }}"
username= "${admin.username}"
password= "${admin.password}"
ws_endpoint = "{{ environment.ws_endpoint }}"
wss_endpoint = "{{ environment.wss_endpoint }}"
http_endpoint = "{{ environment.http_endpoint }}"
https_endpoint = "{{ environment.https_endpoint }}"

{% endfor %}

[apim.cache.recent_apis]
enable = false

[apim.cache.scopes]
enable = true

[apim.cache.tags]
expiry_time = "2m"

[apim.analytics]
enable = "{{ analytics_enabled }}"	
receiver_username = "{{ stream_processor_username }}"	
receiver_password = "{{ stream_processor_password }}"	
store_api_url = "{{ stream_processor_rest_api_url }}"	
store_api_username = "{{ stream_processor_rest_api_username }}"	
store_api_password = "{{ stream_processor_rest_api_password }}"

{% for url_group in analytics_url_group %}	
[[apim.analytics.url_group]]	
analytics_url =[{% for url in url_group['analytics_urls'] %}"{{ url }}"{%- if not loop.last -%},{% endif %}{% endfor %}]	
analytics_auth_url =[{% for url in url_group['analytics_auth_urls'] %}"{{ url }}"{%- if not loop.last -%},{% endif %}{% endfor %}]
{% endfor %}

[apim.key_manager]
service_url = "{{ key_manager_server_url }}"
username= "$ref{super_admin.username}"	
password= "$ref{super_admin.password}"

[apim.oauth_config]
revoke_endpoint = "{{ oauth_configs_revoke_api_url }}"
enable_token_encryption = false	
enable_token_hashing = false

[apim.devportal]	
enable_application_sharing = true	
application_sharing_type = "default" #changed to type, saml, default	
display_multiple_versions = false	
display_deprecated_apis = false	
enable_comments = true	
enable_ratings = true	
enable_forum = true
