wso2_metrics_db_username=plainText {{ wso2_metrics_db_username }}
wso2_metrics_db_password=plainText {{ wso2_metrics_db_password }}
wso2_permissions_db_username=plainText {{ wso2_permissions_db_username }}
wso2_permissions_db_password=plainText {{ wso2_permissions_db_password }}
apim_analytics_db_username=plainText {{ wso2_metrics_db_username }}
apim_analytics_db_password=plainText {{ wso2_metrics_db_username }}
keymanager_username=plainText {{ keymanager_username }}
keymanager_password=plainText {{ keymanager_password }}
admin_service_username=plainText {{ admin_service_username }}
admin_service_password=plainText {{ admin_service_password }}
trust_store_password=plainText {{ trust_store_password }}
cert_password=plainText {{ cert_password }}
key_store_password=plainText {{ key_store_password }}
business_rules_db_username=plainText {{ business_rules_db_username }}
business_rules_db_password=plainText {{ business_rules_db_password }}
