[Unit]
Description=WSO2 API Manager Analytics - dashboard
After=network.target

[Service]
ExecStart={{ carbon_home }}/wso2/dashboard/bin/carbon.sh start
ExecStop={{ carbon_home }}/wso2/dashboard/bin/carbon.sh stop
ExecReload={{ carbon_home }}/wso2/dashboard/bin/carbon.sh restart
PIDFile={{ carbon_home }}/wso2/dashboard/runtime.pid
User={{ wso2_user }}
Group={{ wso2_group }}
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
