wso2_metrics_db_username=plainText {{ wso2_metrics_db_username }}
wso2_metrics_db_password=plainText {{ wso2_metrics_db_password }}
wso2_permissions_db_username=plainText {{ wso2_permissions_db_username }}
wso2_permissions_db_password=plainText {{ wso2_permissions_db_password }}
message_tracing_db_username=plainText {{ wso2_metrics_db_username }}
message_tracing_db_password=plainText {{ wso2_metrics_db_username }}
apim_analytics_db_username=plainText {{ wso2_metrics_db_username }}
apim_analytics_db_password=plainText {{ wso2_metrics_db_username }}
wso2am_mgw_analytics_db_username=plainText {{ wso2_metrics_db_username }}
wso2am_mgw_analytics_db_password=plainText {{ wso2_metrics_db_username }}
cluster_db_username=plainText {{ wso2_metrics_db_username }}
cluster_db_password=plainText {{ wso2_metrics_db_username }}
siddhi_api_keystore_password=plainText {{ siddhi_api_keystore_password }}
siddhi_api_keystore_cert_password=plainText {{ siddhi_api_keystore_cert_password }}
databridge_config_keystore_password=plainText {{ databridge_config_keystore_password }}
trust_store_password=plainText {{ trust_store_password }}
cert_password=plainText {{ cert_password }}
key_store_password=plainText {{ key_store_password }}
user_store_users_username=plainText {{ user_store_users[0].username }}
user_store_users_password=plainText {{ user_store_users[0].password }}
